# This workflow will build a MuleSoft project and deploy to CloudHub

name: Build and Deploy to Sandbox

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  #workflow_dispatch:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v3
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Add repo credentials
      uses: s4u/maven-settings-action@v2.6.0
      with:
        servers: |
          [{
           "id": "exchange",
           "username": "${{ secrets.anypoint_platform_username }}",
           "password": "${{ secrets.anypoint_platform_password }}"
          }]
    - name: Deploy to Exchange
      env:
        USERNAME: ${{ secrets.anypoint_platform_username }}
        PASSWORD: ${{ secrets.anypoint_platform_password }}
      run: |
        mvn deploy \
         -Danypoint.username="$USERNAME" \
         -Danypoint.password="$PASSWORD"
